.dashboardContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .sidebar h1 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar li:hover,
  .sidebar li.activeTab {
    background-color: #444;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
    z-index: 2;

  }
  
  .messagesContainer,
  .memberDirectoryContainer,
  .blogContainer {
    padding: 20px;
    overflow-y: scroll;
  }
  
  .message, .blogPost {
    margin-bottom: 20px;
  }
  
  .message h3, .blogPost h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .message p {
    font-size: 1.2rem;
    color: #555;
    transition: max-height 0.3s ease-in-out;
}

.message p.expanded {
    max-height: 500px; /* Adjust as needed */
}

  
  .message p, .blogPost p {
    font-size: 1.2rem;
    color: #555;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #333;
    color: white;
  }
  
  table td {
    background-color: #fff;
  }
  
  /* Optional: Add transitions for expanding/collapsing the message */
.expandedMessage {
  margin-top: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
