.container {
    width: 100vw;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #ff9800;
    margin-bottom: 20px;
}

.form {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.formGroup {
    margin-bottom: 15px;
    background-color: #ebebeb;
    padding: 20px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.nameFields {
    display: flex;
    gap: 10px;
}

.nameFields input {
    width: 50%;
}

.radioGroup, .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radioGroup input,
.checkboxGroup input {
    margin-right: 8px;
}

.submitButton {
    width: 100%;
    background: #ff9800;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.submitButton:hover {
    background: #e68900;
}
