body {
    /* background: linear-gradient(to bottom, rgb(0, 0, 53), rgb(3, 175, 255), white, black); */
    margin: 0;
    padding: 0;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.italic {
    font-style: italic;
}

.blue {
    color: blue;
}