body {
    background: linear-gradient(to bottom, rgb(0, 0, 53), rgb(3, 175, 255), white, black);
    min-height: 200vh; /* Ensure the body is tall enough to scroll */
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}